# Archivos generados por RStudio
.Rproj.user/
.RData
.Rhistory
.Rapp.history
.Rproj.user
.Ruserdata
.RDataTmp*
# Archivos de output (resultados, gráficos)
*.pdf
*.png
*.csv
*.nex
*.phy
# Carpeta Figures y log
outputs/
Figures/
logs/.Rproj.user/
.Rproj.user/
